<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{contact.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-buttons slot="primary">
        <ion-button routerLink="/edit/{{contact.id}}">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="delete(contact.id)">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>